


.congratulations {
    color: rgb(89, 0, 255);
}

img {
    border-style:double;
    border-radius: 15px;
    height: auto;
    width: 25px;
}
h1 {
    font-size:36px;
    -webkit-background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
    background-color:#FFF;
    background-image: -webkit-gradient(linear,left top,right top,from(#ea8711), to(#d96363));
    background-image: -webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -moz-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -ms-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -o-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
  }
